<?xml version="1.0"?>

<launch>
    <arg name="world_name" default="clearpath_playpen"/>
    <!-- <arg name="world_name" default="tinynomad"/> -->
    <!-- <arg name="world_name" default="willowgarage"/> -->


    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find husky_gazebo)/worlds/$(arg world_name).world"/> 
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    </include>
   
    <include file="$(find husky_navigation)/launch/gmapping.launch">
        <arg name="scan_topic" default="$(eval optenv('HUSKY_LASER_TOPIC', 'scan'))" />
    </include>

    <include file="$(find husky_navigation)/launch/move_base.launch">
        <arg name="no_static_map" value="true"/>
    </include>


    <node name="rviz" pkg="rviz" type="rviz" args="-d $/home/bcc/Escritorio/tfg/visualizacion.rviz"/>

    <!-- <include file="$(find fringa_pkg)/launch/explore.launch"/> -->
    <include file="$(find fringa_pkg)/launch/explore_costmap.launch"/>
    <!-- <include file="$(find explore_lite)/launch/explore_costmap.launch"/> -->
    <!-- <include file="$(find explore_lite)/launch/explore_costmap.launch"/> -->
</launch>